*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  background-color: #43e622;
}

header{
  background-color: #fab005;
  padding: 20px;
  display: flex;
}

header img{
  width: 30vw;
}

h1{
  margin: 50px;
  color: #000;
}

h1:hover{
  color: white;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

main{
  margin: 50px;
}

main img{
  border: 5px solid black;
  border-radius: 10px;
  width: 80px;
  margin: 20px;
  transition: 0.2s all linear;
  box-shadow: 5px 0 10px 2px #555;
}

main img:hover{
  border: 5px solid #fff;
  transform: scale(1.2);
}

footer{
  height: 200px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px){
  header{
    flex-direction: column;
  }
}